# build files
*.class
**/build/
**/classes/
**/bin/

# Emacs stuff
.#*
*~

# Package Files #
*.jar
*.war
*.ear

# Eclipse
*.project
*.settings
*.classpath

# Log files
*.log

# Dependency directories
node_modules
