<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Booktown Servlet</display-name>
  <description>Lab3Part2</description>
  
  <servlet>
    <servlet-name>Booktown</servlet-name>
    <servlet-class>edu.asupoly.ser422.servlets.BooktownServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Booktown</servlet-name>
    <url-pattern>/booktown</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AuthorCRUD</servlet-name>
    <servlet-class>edu.asupoly.ser422.servlets.AuthorCRUDServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AuthorCRUD</servlet-name>
    <url-pattern>/author_crud</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>BookCRUD</servlet-name>
    <servlet-class>edu.asupoly.ser422.servlets.BookCRUDServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>BookCRUD</servlet-name>
    <url-pattern>/book_crud</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EnlistAuthors</servlet-name>
    <servlet-class>edu.asupoly.ser422.servlets.EnlistAuthorsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EnlistAuthors</servlet-name>
    <url-pattern>/enlist_authors</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>	

</web-app>