
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
Hello <%= uname %> !!! &nbsp; &nbsp; &nbsp;
Not <%= uname %> Please login  <a href="/login"> here </a>
</body>
</html>
