<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>First Name</title>
</head>
<body>

  <form action="multiform2" method="POST">
    First Name: <input type="text" name="fname" value=<%= fname ? fname: ''%>> <br>
  <input type="submit" value="Next">
  </form>

</body>
