<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Last Name</title>
</head>
<body>

  <form action="multiform3" method="POST">
    Last Name: <input type="text" name="lname" value=<%= lname ? lname: ''%>> <br>
  <input type="submit" value="Prev" formaction="multiform1">  
  <input type="submit" value="Next" formaction="multiform3">
  </form>

</body>
